<html> 
	<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="css/login.css" title="style" />
  <title>Login</title>
</head>
   <body> 
   <div class="login-wrap">
		<div class="form">
      <form action = "http://localhost:5000/login" method = "post">
         <table>
             <tr><td>Hostname</td>
        <td><input type ="text" name ="hostname"></td></tr>
        <tr><td>sidadm</td>
        <td><input type ="text" name ="sidadm"></td></tr>  
        <tr><td>Password</td>  
        <td><input type ="password" name ="pass"></td></tr>  
        <tr><td><input type = "submit"></td></tr>  
    </table>  
	
      </form> 
</div>	  
	  </div>
   </body>  
</html>  